{% extends 'web/base.html' %}

{% load static %}
{% block body %}
<div class="page-inner">
                    <div class="page-title">
                        <h3 class="breadcrumb-header">Your Machine</h3>
                    </div>
                    <div id="main-wrapper">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-white stats-widget">
                                    <div class="panel-body">
                                        <div class="pull-left">

                                            <p class="stats-info">Hostname</p>
                                        </div>
                                        <div class="pull-right">
                                           Abhishek
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-white stats-widget">
                                    <div class="panel-body">
                                        <div class="pull-left">

                                            <p class="stats-info">External-IP</p>
                                        </div>
                                        <div class="pull-right">
                                            192.168.31.130
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-white stats-widget">
                                    <div class="panel-body">
                                        <div class="pull-left">

                                            <p class="stats-info">Login-User</p>
                                        </div>
                                        <div class="pull-right">
                                           root
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-white stats-widget">
                                    <div class="panel-body">
                                        <div class="pull-left">

                                            <p class="stats-info">Status</p>
                                        </div>
                                        <div class="pull-right">
                                            <b>UP</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Row -->
                        <div class="row">



                            <div class="col-lg-4 col-md-6">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Machine Info</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="browser-stats">
                                            <ul class="list-unstyled">
                                                <li>Platform<div class="text-success pull-right">Linux</div></li>
                                                <li>Platform- Release<div class="text-success pull-right">3.10.0-1062.18.1.el7</div></li>
                                                <li>Platform- Version<div class="text-success pull-right">3.10.0-1062.18.1.el7</div></li>
                                                <li>Architecture<div class="text-success pull-right">x86_64</div></li>
                                                <li>Internal- IP<div class="text-success pull-right">192.168.31.130</div></li>
                                                <li>Mac-address &amp; tablet<div class="text-success pull-right">74:df:bf:5d:cb:31</div></li>
                                                <li>Processor<div class="text-success pull-right">x86_64</div></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Ram Status</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="server-load row">
                                                <div class="server-stat col-sm-4">
                                                    <p>8GB</p>
                                                    <span>Total</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>4.2GB</p>
                                                    <span>Using</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>57.4%</p>
                                                    <span>CPU</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chart2"><svg></svg></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Disk Status</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="server-load row">
                                                <div class="server-stat col-sm-4">
                                                    <p>167GB</p>
                                                    <span>Usage</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>320GB</p>
                                                    <span>ecaps</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>57.4%</p>
                                                    <span>CPU</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chart2"><svg></svg></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title"><b>Process</b></h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive invoice-table">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">Pid</th>
                                                        <td>USER</td>
                                                        <td>%CPU</td>
                                                        <td>%MEMORY</td>
                                                        <td>TIME+</td>
                                                        <td>COMMAND</td>
                                                    </tr>
                                                    <tr>
                                                        <th >0186</th>
                                                        <td>root</td>
                                                        <td>4</td>
                                                        <td>6</td>
                                                        <td>17:15</td>
                                                        <td>Chrome</td>
                                                    </tr>
                                                    <tr>
                                                        <th >0186</th>
                                                        <td>root</td>
                                                        <td>4</td>
                                                        <td>6</td>
                                                        <td>17:15</td>
                                                        <td>Chrome</td>
                                                    </tr>
                                                    <tr>
                                                        <th >0186</th>
                                                        <td>root</td>
                                                        <td>4</td>
                                                        <td>6</td>
                                                        <td>17:15</td>
                                                        <td>Chrome</td>
                                                    </tr>
                                                    <tr>
                                                        <th >0186</th>
                                                        <td>root</td>
                                                        <td>4</td>
                                                        <td>6</td>
                                                        <td>17:15</td>
                                                        <td>Chrome</td>
                                                    </tr>
                                                    <tr>
                                                        <th >0186</th>
                                                        <td>root</td>
                                                        <td>4</td>
                                                        <td>6</td>
                                                        <td>17:15</td>
                                                        <td>Chrome</td>
                                                    </tr>
                                                    <tr>
                                                        <th >0186</th>
                                                        <td>root</td>
                                                        <td>4</td>
                                                        <td>6</td>
                                                        <td>17:15</td>
                                                        <td>Chrome</td>
                                                    </tr><tr>
                                                        <th >0186</th>
                                                        <td>root</td>
                                                        <td>4</td>
                                                        <td>6</td>
                                                        <td>17:15</td>
                                                        <td>Chrome</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Swap Memory</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="server-load row">
                                                <div class="server-stat col-sm-4">
                                                    <p>167GB</p>
                                                    <span>Usage</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>320GB</p>
                                                    <span>ecaps</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>57.4%</p>
                                                    <span>CPU</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chart2"><svg></svg></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Core 1</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="server-load row">
                                                <div class="server-stat col-sm-4">
                                                    <p>167GB</p>
                                                    <span>Usage</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>320GB</p>
                                                    <span>ecaps</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>57.4%</p>
                                                    <span>CPU</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chart2"><svg></svg></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Core 2</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="server-load row">
                                                <div class="server-stat col-sm-4">
                                                    <p>167GB</p>
                                                    <span>Usage</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>320GB</p>
                                                    <span>ecaps</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>57.4%</p>
                                                    <span>CPU</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chart2"><svg></svg></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Core 3</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="server-load row">
                                                <div class="server-stat col-sm-4">
                                                    <p>167GB</p>
                                                    <span>Usage</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>320GB</p>
                                                    <span>ecaps</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>57.4%</p>
                                                    <span>CPU</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chart2"><svg></svg></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Core 4</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="server-load row">
                                                <div class="server-stat col-sm-4">
                                                    <p>167GB</p>
                                                    <span>Usage</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>320GB</p>
                                                    <span>ecaps</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>57.4%</p>
                                                    <span>CPU</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="chart2"><svg></svg></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Battery Status</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="container-fluid">
                                            <div class="server-load row">
                                                <div class="server-stat col-sm-4">
                                                    <p>167GB</p>
                                                    <span>Usage</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>320GB</p>
                                                    <span>ecaps</span>
                                                </div>
                                                <div class="server-stat col-sm-4">
                                                    <p>57.4%</p>
                                                    <span>CPU</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
    {% endblock %}