{% extends 'web/base.html' %}

{% load static %}
{% block body %}
          <div class="page-inner">
                    <div class="page-title">
                        <h3 class="breadcrumb-header">Dashboard</h3>
                    </div>
                    <div id="main-wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <p>
                                    REST API Monitor evaluates the uptime, performance, and correctness of your API endpoint. Define specific expression assertion, validate and get notified if the response data from JSONPath, XPath, or Text data fails.  </p>
                                <ul>
                                    <li>JSON, XML and Text Response Type.</li>
                                    <li>Supports GET, POST, PUT, DELETE and PATCH HTTP methods.</li>
                                    <li>This is a Basic Monitor.</li>
                                  </ul>
                                  <button type="button" class="btn btn-primary">Add a REST API Monitor</button>

                            </div>



                            </div>
                        </div><!-- Row -->

{% endblock %}