{% extends 'web/base.html' %}

{% load static %}
{% block body %}
        <div class="page-inner">
                    <div class="page-title">
                        <h3 class="breadcrumb-header">Monitor status</h3>
                    </div>
                    <div id="main-wrapper">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <p >Monitors the availability and response time of your SMTP mail server port. </p>
                                <ul>
                                    <li>This is a Basic Monitor.</li>
                                  </ul>
                                  <button type="button" class="btn btn-primary">Add an SMTP server</button>
                            </div>




                        </div><!-- Row -->
{% endblock %}